<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samplevideo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!--
        < 图文测试用 AppId >
        <meta-data android:name="TTC_APPID" android:value="WN13CAAB" />
        -->
        <!-- 视频内容的示例 AppId -->
        <meta-data android:name="TTC_APPID" android:value="MB7BDCB2" />
        <!-- 百度的广告Id -->
        <!---->
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="ba4ccf56" />

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NewsActivity" />
        <activity android:name=".VideoActivity" />
    </application>

</manifest>